In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("hospitaldata.csv", sep=",", na_values="-")
# print "file has been added"

# Question 1.

In [4]:
# Q1.  remove the dots in the names
df = df.rename(columns=lambda x: x.replace('.', ' '))
df = df.rename(columns=lambda x: x.replace('  ', '_'))
df = df.rename(columns=lambda x: x.replace(' ', '_'))
print df.columns
print "*************************************"
print "*************************************"

Index([u'Date', u'id', u'Time', u'Age', u'Sex', u'Consulting_Doctor',
       u'Specialty', u'Procedure', u'Total_Charges', u'Amount_Received_',
       u'Amount_Balance', u'Amount_Received_By', u'Amount_in_Hospital',
       u'Receptionist_Name', u'Next_Apt'],
      dtype='object')
*************************************
*************************************

# Question 2.

In [5]:
# Q2. Which day of the week is expected to have most visits? 

new_df = pd.DataFrame(df.Date.str.split(',',1).tolist(), columns = ['Day','Date'])
print new_df['Day'].value_counts().max()
print new_df['Day'].value_counts().idxmax()
print "*************************************"
print "*************************************"

51
Monday
*************************************
*************************************

# Queston 3.

In [6]:
# 3.  What is the average age of patients? 
df['Age'] = pd.to_numeric(df.Age, errors='coerce')
print df['Age'].mean()
print "*************************************"
print "*************************************"

32.734375
*************************************
*************************************

# Question 4.

In [7]:
# 4. How many children were entertained? (Make a Bracket of Age from 1-12)
print len(list(filter(lambda x: x < 12, df['Age'])))
print "*************************************"
print "*************************************"

23
*************************************
*************************************

# Question 5.

In [8]:
df['Sex'] = map(lambda x: str(x).replace("-", ""), df['Sex'])
df['Sex'] = map(lambda x: str(x).upper(), df['Sex'])
print df.groupby(['Sex']).Specialty.value_counts()
print "*************************************"
print "*************************************"

Sex  Specialty
F    Dentist               57
     Gynae                 13
     M/o                    7
     Orthopedic             5
     Psychotherapist        4
     Child Specialist       3
     Radiologist            3
     General Surgeon        2
     Dental                 1
     ENT                    1
     Medical Specialist     1
M    Dentist               46
     Psychotherapist       10
     M/o                    8
     Child Specialist       7
     Orthopedic             3
     Radiologist            3
     General Surgeon        2
     Medical Specialist     2
     Anaesthetist           1
     Dermatologist          1
NAN  Child Specialist       1
Name: Specialty, dtype: int64
*************************************
*************************************

# Question 6.

In [9]:
# 6. Which Doctor is earning highest?

df['Total_Charges'] = pd.to_numeric(df['Total_Charges'], errors='coerce')
print df.groupby(['Consulting_Doctor']).Total_Charges.sum().max()
print df.groupby(['Consulting_Doctor']).Total_Charges.sum().idxmax()
print "*************************************"
print "*************************************"

513050.0
Dr Alaf Khan
*************************************
*************************************

# Question 7.

In [10]:
# 7. Which procedure type earns more money? 

print df.groupby(['Procedure']).Total_Charges.sum().max()
print df.groupby(['Procedure']).Total_Charges.sum().idxmax()
print "*************************************"
print "*************************************"

240000.0
Orthodontics
*************************************
*************************************

# Question 8.

In [11]:
# 8. Which time of the day has highest frequency of visits by hour?
# import datetime as dt
# import dateutil.parser as dparser
new_time = df[['Time']].copy()
new_time.Time[0] = new_time.Time[0]+"AM"

df.Time = new_time.Time
df.Time = df.Time.replace('-',np.nan)
df.Time = pd.to_datetime(df.Time,format = '%I:%M%p')
# creating hour colur
df['Hour'] = df.Time.dt.hour

visits = df[['Hour']].copy()
visits['Visits']=0
visits = visits.groupby(['Hour']).agg({'Visits':"count"})
visits = visits.sort_values(by=['Visits'],ascending=False)
print "The time with highets frequency: ";
visits.head(n=1)

The time with highets frequency:

      Visits
Hour
13.0      29

# Question 10.

In [12]:
#10. How many patients are repeated visitors?

print sum(df['id'].value_counts() > 1)
print "*************************************"
print "*************************************"

37
*************************************
*************************************