Muhammad_Adnan_Qureshi_Karachi_Python_Assigment2

In [1]:
import pandas as pd
import numpy as np

df= pd.read_csv("D://DIH//Assignment//Python//003-22-Mar-2017//Muhammad_Adnan_Qureshi_Karachi_Python_Assigment2//hospitaldata.csv")

print(list(df))

['Date', 'id', 'Time', 'Age', 'Sex', 'Consulting..Doctor', 'Specialty', 'Procedure', 'Total..Charges', 'Amount..Received.', 'Amount..Balance', 'Amount.Received.By', 'Amount.in.Hospital', 'Receptionist..Name', 'Next.Apt']

In [2]:
# Qs : 1
for a in df.columns :
    if ".." in a:
        df.rename(columns={a: a.replace('..','')}, inplace=True)

print(df.head())

                       Date   id     Time Age Sex  ConsultingDoctor  \
0  Sunday, January 01, 2017  101    11:00  40   F     Dr Kinza Alam
1  Monday, January 02, 2017  150  10:45AM  26   M     Nursing Staff
2  Monday, January 02, 2017   58  12:38PM  30   F  Dr Riffat Naheed
3  Monday, January 02, 2017   75   1:00PM  40   M  Dr Riffat Naheed
4  Monday, January 02, 2017   97   2:45PM  27   M  Dr Riffat Naheed

         Specialty     Procedure TotalCharges  AmountReceived. AmountBalance  \
0            Gynae     C Section        30000          30000.0          -
1              NaN      Dressing         1500           1500.0          -
2  Psychotherapist  Consultation         1000           1000.0          -
3  Psychotherapist  Consultation         1500           1500.0          -
4  Psychotherapist  Consultation         2000           2000.0          -

  Amount.Received.By  Amount.in.Hospital ReceptionistName Next.Apt
0        Mrs Shamsa                  NaN            Hamza      NaN
1         Dr Saniya                  NaN            Haris      NaN
2        Mrs Shamsa                300.0             Fiza      NaN
3        Mrs Shamsa                450.0           Zaheer      NaN
4        Mrs Shamsa                600.0            Haris      NaN

In [3]:
# Qs : 3
x =pd.to_numeric(df['Age'],errors='coerce' )
x.mean()
print(x.mean())

32.734375

In [4]:
# Qs : 4
x=df[pd.to_numeric(df['Age'],errors='coerce' )<=12]
print(x)
len(x.index)

                             Date   id     Time Age Sex ConsultingDoctor  \
8        Monday, January 02, 2017   20   3:45PM   2   F        Dr Fakiha
29       Monday, January 09, 2017   79   1:30PM   6   F     Dr Alaf Khan
33       Monday, January 09, 2017   36   5:30PM   5   F     Dr Alaf Khan
35      Tuesday, January 10, 2017   84   6:00PM   9   F         Dr Irfan
74       Monday, January 23, 2017   59   4:50PM  10   M           Dr Ali
79    Wednesday, January 25, 2017   59      NaN  10   M    Nursing Staff
89     Saturday, January 28, 2017  147   9:45PM   9   M    Nursing Staff
96      Tuesday, January 31, 2017  152   5:30PM   7   F        Dr Fakiha
98      Tuesday, January 31, 2017  115   6:50PM   8   F  Dr Qurat ul Ain
108     Friday, February 03, 2017   44   8:00PM   6   M           Dr Ali
109   Saturday, February 04, 2017   35   4:00PM   2   F  Dr Qurat ul Ain
130     Friday, February 10, 2017   14   6:30PM   6   M    Nursing Staff
137     Sunday, February 12, 2017   81  12:00PM   6   F     Dr Alaf Khan
146  Wednesday, February 15, 2017   94   4:45PM   3   M           Dr Ali
153   Saturday, February 18, 2017   94  11:30AM   3   M    Nursing Staff
156     Monday, February 20, 2017   68   1:25PM  10   M       Dr Shireen
159     Monday, February 20, 2017   94  10:15PM   3   M    Nursing Staff
162    Tuesday, February 21, 2017   11   7:11PM   2   F           Dr Ali
163    Tuesday, February 21, 2017   94  10:10PM   3   M    Nursing Staff
184     Wednesday, March 01, 2017   28   6:00PM   3   F  Dr Qurat ul Ain
208     Wednesday, March 08, 2017  148   8:30PM   3   F    Nursing Staff
210     Wednesday, March 08, 2017   10   4:45PM   9   F  Dr Qurat ul Ain
215      Thursday, March 09, 2017  121   9:00AM   3   F    Nursing Staff

            Specialty                Procedure TotalCharges  AmountReceived.  \
8             Dentist             Consultation    Cancelled              NaN
29            Dentist             Consultation          500            500.0
33            Dentist             Consultation          250            250.0
35    General Surgeon   Consultation +   X Ray         3000           3000.0
74   Child Specialist   Consultation+ER Retain         2800           2800.0
79                NaN          Laboratory Test          NaN              NaN
89                NaN             Consultation         1000           1000.0
96            Dentist                  Filling         1000           1000.0
98            Dentist               Extraction         1500           1500.0
108  Child Specialist             Consultation         1000           1000.0
109           Dentist             Consultation          500            500.0
130               NaN                    X Ray          300            300.0
137           Dentist       Consultation+X Ray          700            700.0
146  Child Specialist  Consultation + Nebulize         1150           1150.0
153               NaN                Injection          300            300.0
156               M/o                  Stiches          700            700.0
159               NaN                Injection          300            300.0
162  Child Specialist             Consultation         1000           1000.0
163               NaN                Injection          300            300.0
184           Dentist             Consultation          500            500.0
208               NaN                Injection          100            100.0
210           Dentist       Consultation+x Ray          650            650.0
215               NaN                Injection          100            100.0

    AmountBalance              Amount.Received.By  Amount.in.Hospital  \
8             NaN                             NaN                 NaN
29           -                        Mrs Shamsa                500.0
33           -                        Mrs Shamsa                250.0
35           -                        Mrs Shamsa               3000.0
74           -                        Mrs Shamsa               1600.0
79           -                                NaN                 NaN
89           -                        Mrs Shamsa                  NaN
96           -                        Mrs Shamsa               1000.0
98           -                        Mrs Shamsa               1500.0
108          -                          Dr Ammad                300.0
109          -                          Dr Ammad                500.0
130          -                          Dr Ammad                300.0
137          -                        Mrs Shamsa                700.0
146          -      150 Mrs Shamsa, 300 Dr Ammad                450.0
153          -                          Dr Ammad                300.0
156          -                          Dr Ammad                700.0
159          -                          Dr Ammad                300.0
162          -                          Dr Ammad                300.0
163          -                          Dr Ammad                300.0
184          -                          Dr Ammad                500.0
208          -                          Dr Ammad                100.0
210          -                          Dr Ammad                650.0
215          -                          Dr Ammad                100.0

    ReceptionistName Next.Apt
8                NaN      NaN
29              Fiza      NaN
33              Fiza      NaN
35              Mona      NaN
74             Haris      NaN
79               NaN      NaN
89            Sub KB      NaN
96             Haris      NaN
98             Haris      NaN
108            Haris      NaN
109            Haris      NaN
130            Haris      NaN
137             Mona      NaN
146            Haris      NaN
153            Saima      NaN
156            Saima      NaN
159           Ashfaq      NaN
162            Saima      NaN
163           Sub KB      NaN
184            Saima      NaN
208           Ashfaq      NaN
210            Saima      NaN
215             Mona      NaN

23

In [5]:
# Qs : 5
M_var=df[df.Sex=='M']
M_var = M_var['Procedure'].value_counts().index.tolist()[0]
print(M_var)

Consultation

In [6]:
F_var=df[(df.Sex=='F')| (df.Sex=='f')]
F_var = F_var['Procedure'].value_counts().index.tolist()[0]
print(F_var)

Consultation

In [9]:
# Qs : 6
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')
con_dr_amt = df[['ConsultingDoctor', 'TotalCharges']].groupby(['ConsultingDoctor']).sum()
print(con_dr_amt.max())

TotalCharges    513050.0
dtype: float64

In [8]:
# Qs : 7
proc_wise_amt = df[['Procedure', 'TotalCharges']].groupby(['Procedure']).sum()
print(proc_wise_amt.max())

TotalCharges    240000.0
dtype: float64

In [10]:
# Qs : 8
time_wise_vis = df[['Time','id']].groupby(['Time']).count()
print(time_wise_vis.max())

id    9
dtype: int64

In [11]:
# Qs : 10
pat_wise_cnt = df['id'].value_counts()
print(len(pat_wise_cnt[pat_wise_cnt>1].index))

37

In [12]:
# Qs : 11
pat_wise_cnt = df['id'].value_counts()
print(pat_wise_cnt[pat_wise_cnt>1])

1      12
46      5
122     5
140     4
94      4
17      4
45      3
101     3
63      3
132     3
114     3
109     3
107     3
145     3
20      2
97      2
59      2
88      2
96      2
112     2
116     2
118     2
25      2
80      2
120     2
40      2
100     2
64      2
4       2
133     2
12      2
13      2
150     2
149     2
151     2
130     2
153     2
Name: id, dtype: int64

In [13]:
# Qs : 12
proc_pat_wise_amt = df[['Procedure', 'id']].groupby(['id']).count()
print(proc_pat_wise_amt[proc_pat_wise_amt>1])

     Procedure
id
1         12.0
2          NaN
3          NaN
4          2.0
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         2.0
13         2.0
14         NaN
15         NaN
16         NaN
17         4.0
18         NaN
19         NaN
20         2.0
21         NaN
22         NaN
23         NaN
24         NaN
25         2.0
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
..         ...
126        NaN
127        NaN
128        NaN
129        NaN
130        2.0
131        NaN
132        3.0
133        2.0
134        NaN
135        NaN
136        NaN
137        NaN
138        NaN
139        NaN
140        4.0
141        NaN
142        NaN
143        NaN
144        NaN
145        3.0
146        NaN
147        NaN
148        NaN
149        2.0
150        2.0
151        2.0
152        NaN
153        2.0
154        NaN
155        NaN

[155 rows x 1 columns]