In [1]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
df=pd.read_csv("D:/DIH/Assignment Material/Assignment 2/hospitaldata.csv")

In [12]:
for i in df.columns:
    if ".." in i  :
        df.rename(columns={i: i.replace("..","")},inplace=True)
    elif "." in i:
        df.rename(columns={i: i.replace(".","")},inplace=True)

In [15]:
df.columns

Index(['Date', 'id', 'Time', 'Age', 'Sex', 'ConsultingDoctor', 'Specialty',
       'Procedure', 'TotalCharges', 'AmountReceived.', 'AmountBalance',
       'AmountReceivedBy', 'AmountinHospital', 'ReceptionistName', 'NextApt'],
      dtype='object')

In [18]:
days = []
for i in df.Date:
    days.append((str(i).split(',')[0])) 
days= pd.Series(days)
  #pandas.Series.tolist(days)
print(days.value_counts().idxmax())

Monday

In [19]:
df.Age = df.Age.replace("-",np.nan)   
df.Age = df.Age.replace("6M","6")   
df.Age = df.Age.replace("28M","28")   
#for i in df.Age:
#    i = i.strip("M")           
df.Age = pd.to_numeric(df.Age)
df.Age.mean()

32.57216494845361

In [20]:
count_child = df[df.Age<=12]
len (count_child)

24

In [21]:
M= df[df.Sex=="M"]
print (M['Procedure'].value_counts().idxmax()) 
 
F =df[(df.Sex=="F") |(df.Sex=="f")]
print (F['Procedure'].value_counts().idxmax())

Consultation
Consultation

In [22]:
#Q6
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce') 
grouped_dr = df[['ConsultingDoctor', 'TotalCharges']].groupby(['ConsultingDoctor']).sum()
grouped_dr

                  TotalCharges
ConsultingDoctor
Brig Asif               2800.0
Brig Farrukh            3750.0
Col Ulfat Ellahi        1000.0
Dr Alaf Khan          513050.0
Dr Ali                 26100.0
Dr Ammad                1400.0
Dr Ammara               1500.0
Dr Fakiha              22600.0
Dr Irfan               11000.0
Dr Kinza Alam          76700.0
Dr Mehwish              1000.0
Dr Mumtaz               1000.0
Dr Paul                 1500.0
Dr Qurat ul Ain        20900.0
Dr Riffat Naheed       18800.0
Dr Saad                52000.0
Dr Saad Riaz            5700.0
Dr Saima Shams          1500.0
Dr Saniya               4000.0
Dr Shireen              3200.0
Dr Waqar Azeem          6000.0
Dr Zubair               1700.0
Nursing Staff           9150.0

In [23]:
proc = df[['Procedure','TotalCharges']].groupby(['Procedure']).sum()
proc

                                TotalCharges
Procedure
22 Unit Bridge                       69500.0
4 Unit Bridge                        11000.0
8 Unit Bridge+2 R.C.T                30000.0
BSR                                     50.0
C Section                            65000.0
Cancelled                                NaN
Consultation                         83950.0
Consultation +   X Ray                3000.0
Consultation + Dressing               5000.0
Consultation + Nebulize               1150.0
Consultation + USG                    1500.0
Consultation+Denture                  1500.0
Consultation+ECG                      1300.0
Consultation+ER Retain                2800.0
Consultation+Retain                   3500.0
Consultation+USG                      1500.0
Consultation+X Ray                    4750.0
Consultation+x Ray                     650.0
Coupety                                300.0
Crown                                20000.0
Denture+Scalling+Filling              5500.0
Dressing                              2900.0
Er Retain                              300.0
Extraction                           14600.0
Filling                               6500.0
Filling + X Rays                      2600.0
Injection                             1800.0
Laboratory Test                          NaN
Medicine                               100.0
Operation                            50000.0
Orthodontics                        240000.0
Pharmacy                               900.0
Polishing                              500.0
Pop                                   3700.0
R.C.T                                15500.0
R.C.T+Crown                           8000.0
R.C.T+Scalling+Crown                  9500.0
R.P.D + Crown                        11000.0
RCT                                   3000.0
RCT (4 teeth) Bridge (9 teeth)       48000.0
Scalling                             16500.0
Scalling+Polishing                    4000.0
Stiches                                700.0
USG                                   5500.0
USG Abdomen                           1000.0
USG KUB                               1000.0
X Ray                                 5800.0

In [24]:
#Q8
df.Time=pd.to_datetime(df.Time,errors='coerce')
df.Time.dt.hour.value_counts().idxmax()

13.0

In [25]:

#Q9
 
def TimeBracket (hour):
    if hour >= 6.0 and hour <= 12 :
        return "Morning"
    elif hour > 12 and hour <= 16  :
        return "After Noon"
    elif hour > 16 and hour <= 19  :
        return "Evening"
    elif hour > 19 and hour < 6  :
        return "Night"
    else :
        return np.NAN
         
df.Time.dt.hour.map(TimeBracket)

0         Morning
1         Morning
2         Morning
3      After Noon
4      After Noon
5      After Noon
6      After Noon
7      After Noon
8      After Noon
9         Evening
10        Evening
11        Evening
12     After Noon
13     After Noon
14        Evening
15            NaN
16        Morning
17            NaN
18            NaN
19        Morning
20     After Noon
21     After Noon
22        Morning
23     After Noon
24     After Noon
25            NaN
26            NaN
27            NaN
28        Morning
29     After Noon
          ...
192       Morning
193       Morning
194    After Noon
195    After Noon
196       Evening
197    After Noon
198           NaN
199    After Noon
200       Evening
201       Evening
202           NaN
203    After Noon
204           NaN
205       Evening
206    After Noon
207           NaN
208           NaN
209           NaN
210    After Noon
211       Evening
212       Morning
213       Evening
214       Morning
215       Morning
216           NaN
217           NaN
218    After Noon
219       Evening
220       Morning
221           NaN
Name: Time, dtype: object

In [26]:
#Q10

pt_vst =df['id'].value_counts()
print(len(pt_vst[pt_vst>1].index))

37

In [27]:
#Q11
print (pt_vst)

1      12
46      5
122     5
140     4
94      4
17      4
45      3
101     3
63      3
132     3
114     3
109     3
107     3
145     3
20      2
97      2
59      2
88      2
96      2
112     2
116     2
118     2
25      2
80      2
120     2
40      2
100     2
64      2
4       2
133     2
       ..
68      1
69      1
70      1
71      1
72      1
73      1
74      1
75      1
76      1
77      1
154     1
79      1
81      1
82      1
83      1
84      1
85      1
86      1
87      1
89      1
90      1
91      1
92      1
93      1
95      1
98      1
99      1
102     1
103     1
78      1
Name: id, dtype: int64

In [28]:
#Q12
x=df[['id','Procedure']]
patient_visits=x.groupby(['id','Procedure']).size()
print(patient_visits[patient_visits>1])

id   Procedure
1    Pharmacy                          10
12   22 Unit Bridge                     2
13   Consultation                       2
17   Consultation                       2
     RCT (4 teeth) Bridge (9 teeth)     2
20   Consultation                       2
25   Consultation                       2
45   R.P.D + Crown                      2
46   Dressing                           4
63   Consultation                       2
80   Consultation                       2
94   Injection                          3
97   Consultation                       2
101  C Section                          2
109  R.C.T                              2
112  Operation                          2
114  Consultation                       3
116  X Ray                              2
122  Injection                          5
130  Consultation                       2
140  4 Unit Bridge                      2
145  Crown                              3
151  R.C.T+Scalling+Crown               2
153  Orthodontics                       2
dtype: int64

In [29]:
#Q13
F.Age.median()
M.Age.median()

29.0

In [30]:
#Q14
df.replace(to_replace=df['AmountBalance'].unique()[0], value=np.nan, inplace=True)
df['AmountBalance']=df['AmountBalance'].map(lambda x: str(x).replace(',',''))
df['AmountBalance'] = df['AmountBalance'].astype(float)
print(df['AmountBalance'].sum())

222500.0

In [31]:
#Q15

Consultation=df[df.Procedure=='Consultation']
Consultation['TotalCharges'].sum()

83950.0

In [32]:
#Q16
Corr=df.corr()
Corr.loc[['Age'],['TotalCharges']]

     TotalCharges
Age      0.029521

In [33]:
#Q18
df[(df.Procedure== 'X Rays') | (df.Procedure == 'Scalling')]['TotalCharges'].sum()

16500.0