In [11]:
import pandas as pd 
import numpy as np
import time
#import matplotlib.pyplot as plt

ds=pd.read_csv("/home/zawar/Desktop/Python_And_R_02_Assignment/hospitaldata.csv") 

# Q1 displaying column name without ...
ds.columns = ds.columns.str.replace('[.]','')
print(ds.head())

def function1(par):
    par = par.replace("?", np.nan)
    par = par.replace("nan", np.nan)
    par = par.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],float('nan'))
    return par

ds=function1(ds)

ds.Sex = ds.Sex.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],str('nan'))
#
ds.Specialty = ds.Specialty.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],str('nan'))
#
ds.Procedure = ds.Procedure.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],str('nan'))
#
ds.TotalCharges = ds.TotalCharges.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],float('nan'))
ds.TotalCharges = ds.TotalCharges.astype(float)
ds.TotalCharges = ds.TotalCharges.fillna(0)
#
ds.AmountReceived = ds.AmountReceived.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],float('nan'))
ds.AmountReceived = ds.AmountReceived.astype(float)
ds.AmountReceived = ds.AmountReceived.fillna(0)
#
ds.replace(to_replace = ds.AmountBalance.unique()[0], value=np.nan, inplace=True)
ds.AmountBalance=ds.AmountBalance.map(lambda x: str(x).replace(',',''))
ds.AmountBalance = ds.AmountBalance.astype(float)
#
ds.AmountReceivedBy = ds.AmountReceivedBy.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],str('nan'))
#
ds.AmountinHospital = ds.AmountinHospital.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],float('nan'))
ds.AmountinHospital = ds.AmountinHospital.astype(float)
ds.AmountinHospital = ds.AmountinHospital.fillna(0)
#
ds.ReceptionistName = ds.ReceptionistName.replace(["\tno","\tyes"," ","?","\t","\t?","-","Cancelled"],str('nan'))
#
ds.Age = ds.Age.replace(["6M"],round(6/12))
ds.Age = ds.Age.replace(["28M"],round(28/12))

                       Date   id     Time Age Sex  ConsultingDoctor  \
0  Sunday, January 01, 2017  101    11:00  40   F     Dr Kinza Alam
1  Monday, January 02, 2017  150  10:45AM  26   M     Nursing Staff
2  Monday, January 02, 2017   58  12:38PM  30   F  Dr Riffat Naheed
3  Monday, January 02, 2017   75   1:00PM  40   M  Dr Riffat Naheed
4  Monday, January 02, 2017   97   2:45PM  27   M  Dr Riffat Naheed

         Specialty     Procedure TotalCharges  AmountReceived AmountBalance  \
0            Gynae     C Section        30000         30000.0          -
1              NaN      Dressing         1500          1500.0          -
2  Psychotherapist  Consultation         1000          1000.0          -
3  Psychotherapist  Consultation         1500          1500.0          -
4  Psychotherapist  Consultation         2000          2000.0          -

  AmountReceivedBy  AmountinHospital ReceptionistName NextApt
0      Mrs Shamsa                NaN            Hamza     NaN
1       Dr Saniya                NaN            Haris     NaN
2      Mrs Shamsa              300.0             Fiza     NaN
3      Mrs Shamsa              450.0           Zaheer     NaN
4      Mrs Shamsa              600.0            Haris     NaN

In [12]:
# Q2
#count = collections.Counter(arr)
#arr = np.array(ds["Date"])
#unique, counts = np.unique(arr, return_counts=True)
#dict(zip(unique, counts))
ds.Date=pd.to_datetime(ds.Date)
vists=ds.Date.dt.weekday_name.value_counts()
print(vists)

Monday       51
Wednesday    43
Tuesday      42
Thursday     33
Friday       26
Saturday     20
Sunday        7
Name: Date, dtype: int64

In [13]:
#Q3 Avg Age of Patients
ds.Age = pd.to_numeric(ds.Age,errors='coerce')
ds.Age = ds.Age.fillna(0)
print(round(ds.Age.mean(),0))

28.0

In [14]:
#Q4 No of Children entertained
children_count = 0
for i in range(0,len(ds.Age)):
    if(ds.Age[i] >= 1 and ds.Age[i] <= 12):
        children_count +=1
print(children_count)

24

In [15]:
#Q5 gender type having which procedure in abundance

for i in range(0,len(ds.Procedure)):
    if  ds.Sex[i] == "M":
        A=ds['Procedure'].value_counts().index.tolist()[0]
    elif ds.Sex[i] == "F":
        B= ds['Procedure'].value_counts().index.tolist()[0]
print("For Male most Procedure Used are:",A)
print("For Female most Procedure Used are:",B)

('For Male most Procedure Used are:', 'Consultation')
('For Female most Procedure Used are:', 'Consultation')

In [16]:
#Q6
#ds.TotalCharges = pd.to_numeric(ds.TotalCharges,errors=coerce)
#ds.TotalCharges = ds.TotalCharges.fillna(0)
#print ds.TotalCharges
#ds.TotalCharges = ds.TotalCharges.astype(float)
#ds.TotalCharges = ds.TotalCharges.fillna(0)
maxv = 0
list1 =[]
list2 ={}
list1=ds.ConsultingDoctor
list1=list1.unique()
for i in range(0,len(list1)):
    suming = 0
    for j in range(0,len(ds.ConsultingDoctor)):
        if list1[i] == ds.ConsultingDoctor[j]:
            suming += ds.TotalCharges[j]
            list2[list1[i]]=suming
            if suming > maxv:
                maxv = suming  
    #print(list1[i],"Earning:",suming)
print("Doctor name:",max(list2, key=list2.get),"Earns:",maxv)

('Doctor name:', 'Dr Alaf Khan', 'Earns:', 513050.0)

In [17]:
#Q7 which procedure earns more money
#ds.TotalCharges = ds.TotalCharges.astype(float)
#ds.TotalCharges = ds.TotalCharges.fillna(0)
maxv1 = 0
list3 =[]
list4 ={}
list3=ds.Procedure
list3=list3.unique()
for i in range(0,len(list3)):
    suming1 = 0
    for j in range(0,len(ds.Procedure)):
        if list3[i] == ds.Procedure[j]:
            suming1 += ds.TotalCharges[j]
            list4[list3[i]]=suming1
            if suming1 > maxv1:
                maxv1 = suming1               
    #print(list3[i],"Earning:",suming1)
print("Procedure name:",max(list4, key=list4.get),"Earns:",maxv1)
#print(maxv1)

('Procedure name:', 'Orthodontics', 'Earns:', 240000.0)

In [18]:
#Q8
a=pd.to_datetime(ds["Time"],errors='coerce')
print((a.dt.hour.value_counts()))

13.0    29
18.0    23
15.0    20
14.0    20
12.0    20
17.0    16
16.0    15
19.0    14
11.0    10
20.0     8
10.0     6
21.0     5
22.0     4
9.0      2
23.0     2
Name: Time, dtype: int64

In [19]:
#Q9
import datetime
#ds.Time = pd.to_datetime(ds.Time,'%H:%M%p')
l = pd.to_datetime(ds.Time,errors='coerce')
l = l.dt.time
#print(l[4])
six = datetime.datetime.strptime('06:00','%I:%M').time()
twelve = datetime.datetime.strptime('12:00','%H:%M').time()
four = datetime.datetime.strptime('16:00','%H:%M').time()
seven = datetime.datetime.strptime('19:00','%H:%M').time()
#.strftime('%I:%M %p')
#,format='%H:%M%p'
for i in range(0,len(l)):
    if(l[i] >= six and l[i] <= twelve):
        print("Morning")
    elif(l[i] >= twelve and l[i] <= four):
        print("Afternoon")
    elif(l[i] >= four and l[i] <= seven):
        print("Evening")
    elif(l[i] >= seven and l[i] <= six):
        print("Night")

Morning
Morning
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon
Evening
Evening
Evening
Afternoon
Afternoon
Evening
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon
Afternoon

TypeError: can't compare datetime.time to float

In [20]:
#Q10 patients visiting more than once
list1=[]
list1 = ds.id.value_counts()
#a = filter(lambda x: x > 0, list1)
list1 = list1[list1>1]
print("id")
print(list1)

id
1      12
46      5
122     5
140     4
94      4
17      4
45      3
101     3
63      3
132     3
114     3
109     3
107     3
145     3
20      2
97      2
59      2
88      2
96      2
112     2
116     2
118     2
25      2
80      2
120     2
40      2
100     2
64      2
4       2
133     2
12      2
13      2
150     2
149     2
151     2
130     2
153     2
Name: id, dtype: int64

In [21]:
#Q11 patients visiting more than once
list1=[]
list1 = ds.id.value_counts()
list1 = list1[list1>1]
print("id")
print(list1)

id
1      12
46      5
122     5
140     4
94      4
17      4
45      3
101     3
63      3
132     3
114     3
109     3
107     3
145     3
20      2
97      2
59      2
88      2
96      2
112     2
116     2
118     2
25      2
80      2
120     2
40      2
100     2
64      2
4       2
133     2
12      2
13      2
150     2
149     2
151     2
130     2
153     2
Name: id, dtype: int64

In [22]:
#Q12  Which patients visited again for the same problem
dlist=[]
dlist=ds.groupby(["id", "Procedure"]).size()
dlist=dlist[dlist>1]
print(dlist)

id   Procedure
1    Pharmacy                          10
12   22 Unit Bridge                     2
13   Consultation                       2
17   Consultation                       2
     RCT (4 teeth) Bridge (9 teeth)     2
20   Consultation                       2
25   Consultation                       2
45   R.P.D + Crown                      2
46   Dressing                           4
63   Consultation                       2
80   Consultation                       2
94   Injection                          3
97   Consultation                       2
101  C Section                          2
109  R.C.T                              2
112  Operation                          2
114  Consultation                       3
116  X Ray                              2
122  Injection                          5
130  Consultation                       2
140  4 Unit Bridge                      2
145  Crown                              3
151  R.C.T+Scalling+Crown               2
153  Orthodontics                       2
dtype: int64

In [23]:
#Q13
M=ds.Age[ds.Sex=='M'].median()
F=ds.Age[ds.Sex=='F'].median()
print("Median of Male:",M)
print("Median of Female:",F)

('Median of Male:', 27.0)
('Median of Female:', 30.0)

In [24]:
#Q14//
#ds.replace(to_replace = ds.AmountBalance.unique()[0], value=np.nan, inplace=True)
#ds.AmountBalance=ds.AmountBalance.map(lambda x: str(x).replace(',',''))
#ds.AmountBalance = ds.AmountBalance.astype(float)
print(ds.AmountBalance.sum())

222500.0

In [25]:
#Q15
ds.TotalCharges = ds.TotalCharges.astype(float)
ds.TotalCharges = ds.TotalCharges.fillna(0)
count = 0
for i in range(0,len(ds.Procedure)):
    if(ds.Procedure[i] == "Consultation"):
        count = count + ds.TotalCharges[i]
print("Earned by Consultation",count)

('Earned by Consultation', 83950.0)

In [26]:
#Q16 correlation between Age and total charges
#ds.TotalCharges = ds.TotalCharges.astype(float)
#ds.TotalCharges = ds.TotalCharges.fillna(0)
print(ds.loc[:,["Age","TotalCharges"]].corr())

                   Age  TotalCharges
Age           1.000000      0.070134
TotalCharges  0.070134      1.000000

In [27]:
#Q17 max age group
max_age=[]
ds.Age = ds.Age.replace("Nan","")
max_age = ds.Age.value_counts().idxmax
print("Age group with heigst no of vists:",max_age)

('Age group with heigst no of vists:', <bound method Series.idxmax of 0.0     29
30.0    20
40.0    11
26.0    11
17.0     9
28.0     8
50.0     7
45.0     7
3.0      7
29.0     6
39.0     6
23.0     6
60.0     5
27.0     5
13.0     4
76.0     4
32.0     4
6.0      4
2.0      4
25.0     3
19.0     3
9.0      3
10.0     3
21.0     3
53.0     3
38.0     3
20.0     3
55.0     3
48.0     2
35.0     2
54.0     2
57.0     2
24.0     2
22.0     2
34.0     2
52.0     2
78.0     2
42.0     2
43.0     1
36.0     1
14.0     1
18.0     1
75.0     1
65.0     1
64.0     1
80.0     1
70.0     1
8.0      1
7.0      1
5.0      1
31.0     1
49.0     1
47.0     1
58.0     1
33.0     1
56.0     1
Name: Age, dtype: int64>)

In [28]:
#Q18
ds.TotalCharges = ds.TotalCharges.astype(float)
ds.TotalCharges = ds.TotalCharges.fillna(0)
count1 = 0
count2 = 0
sum1 = 0
for i in range(0,len(ds.Procedure)):
    if(ds.Procedure[i] == "X Ray"):
        count1 = count1 + ds.TotalCharges[i]
    elif(ds.Procedure[i] == "Scalling"):
        count2 = count2 + ds.TotalCharges[i]

sum1 = count1 + count2
print("sum of cost earned by X-Ray and Scalling:",sum1)

('sum of cost earned by X-Ray and Scalling:', 22300.0)

In [30]:
ds.to_csv("/home/zawar/Desktop/FinalAss2/updated_hospital.csv",sep=",",index=False)