# Question no.1 
Please remove the dots in the names, so it may become easier for you to work through it.

In [4]:
import pandas as pd
import csv
data= pd.read_csv("hospitaldata.csv")
print list(data)
print ("\n")
datarename = data.columns.str.replace("."," ")
print datarename
# u is not a part of data,

['Date', 'id', 'Time', 'Age', 'Sex', 'Consulting..Doctor', 'Specialty', 'Procedure', 'Total..Charges', 'Amount..Received.', 'Amount..Balance', 'Amount.Received.By', 'Amount.in.Hospital', 'Receptionist..Name', 'Next.Apt']


Index([u'Date', u'id', u'Time', u'Age', u'Sex', u'Consulting  Doctor',
       u'Specialty', u'Procedure', u'Total  Charges', u'Amount  Received ',
       u'Amount  Balance', u'Amount Received By', u'Amount in Hospital',
       u'Receptionist  Name', u'Next Apt'],
      dtype='object')

# Question no.2 
 Which day of the week is expected to have most visits?

In [1]:
import pandas as pd
import datetime

# Question no. 3
What is the average age of patients?

In [28]:
import pandas as pd
import numpy as np
df = data
x= df['Age'] 
print x.replace("-", "NA")
xupdated = pd.to_numeric(x, errors='coerce')
print np.mean(xupdated)

0       40
1       26
2       30
3       40
4       27
5       40
6       43
7       28
8        2
9       40
10      32
11      28
12      76
13      75
14      36
15      42
16      23
17      48
18      25
19      50
20      60
21      NA
22      NA
23      26
24      27
25      NA
26      57
27     NaN
28      39
29       6
      ...
192     45
193     17
194     22
195     30
196     17
197     38
198     17
199     34
200     28
201     78
202     56
203     53
204     21
205     17
206    NaN
207     78
208      3
209     76
210      9
211     32
212    NaN
213     NA
214     24
215      3
216     76
217    NaN
218     39
219     30
220     76
221     45
Name: Age, dtype: object
32.734375

# Question no. 4
How many children were entertained? (Make a Bracket of Age from 1-12)

In [55]:
df = data
#print x.replace("-", "NA")
print len(list(filter(lambda x: x < 12, pd.to_numeric(df['Age'], error='coerce' ))))

0       40
1       26
2       30
3       40
4       27
5       40
6       43
7       28
8        2
9       40
10      32
11      28
12      76
13      75
14      36
15      42
16      23
17      48
18      25
19      50
20      60
21       -
22       -
23      26
24      27
25       -
26      57
27     NaN
28      39
29       6
      ...
192     45
193     17
194     22
195     30
196     17
197     38
198     17
199     34
200     28
201     78
202     56
203     53
204     21
205     17
206    NaN
207     78
208      3
209     76
210      9
211     32
212    NaN
213      -
214     24
215      3
216     76
217    NaN
218     39
219     30
220     76
221     45
Name: Age, dtype: object

TypeError: to_numeric() got an unexpected keyword argument 'error'